<app-header></app-header>

<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-3xl mx-4 px-4 text-center">
        <h2 class="text-3xl font-semibold mb-10">Real Time Notifications</h2>
        <p class="mb-10">
            Real-time notifications are alerts or messages that are instantly pushed to users as events or changes occur, rather than waiting for the user to refresh or poll for updates. These notifications enable immediate communication of important information and are used in various applications, from messaging apps to monitoring systems.
        </p>
        <button 
            class="bg-blue-500 hover:bg-blue-600 text-white border rounded-md px-4 py-2"
            (click)="createNotify()"
        >
            Test the application
        </button>
    </div>
</div>
